<footer>
  <div class="flex flex-col items-center gap-8 h-72 pt-8 text-xl text-white bg-neutral-900">

  <div class="w-full flex flex-row justify-center gap-8 xl:gap-16 text-4xl">
    <a href="https://github.com/HaasStefan/ng-journal">
      <img src="/github-mark-white.svg" alt="github logo" class=" w-16 h-16">
    </a>
  </div>
    <div class="flex flex-col items-center gap-4">
      <div>Powered by the Community ©2024</div>

      <a href="https://www.netlify.com"><img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify"></a>
    </div>
  </div>
</footer>
