<header class="bg-neutral-900 z-20 p-2 px-16 w-full fixed flex justify-center md:justify-between shadow-xl">
  <a href="/" class="flex gap-4 items-center">
    <img src="/ng-journal.png" class="h-12 w-12" alt="ng journal logo">
    <span class="text-3xl bg-gradient-to-tr from-rose-500 to-fuchsia-500 bg-clip-text text-transparent font-bold">NG Journal</span>
  </a>
  <nav class="hidden md:flex gap-12 text-white text-xl font-medium items-center">
    <a class="hover:bg-gradient-to-tr hover:from-rose-500 hover:to-fuchsia-500 hover:bg-clip-text hover:text-transparent" href="/blog">Blog</a>
    <a class="hover:bg-gradient-to-tr hover:from-rose-500 hover:to-fuchsia-500 hover:bg-clip-text hover:text-transparent" href="https://github.com/HaasStefan">Contribute</a>
<!--    <a class="hover:bg-gradient-to-tr hover:from-rose-500 hover:to-fuchsia-500 hover:bg-clip-text hover:text-transparent" href="/about">Discord</a>-->
  </nav>
</header>
